/* PORFILE */
#profile_information{
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#profile_information .container{
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#profile_information .profile_votes{
	margin-top: 70px;
}

#profile_information .profile_votes2{
	margin-bottom: 15px;
}

#profile_information .achievements{
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	background: #455a64;
}

#profile_information .image_banner{
	padding-top: 60px;
}

#profile_information .achiev_table{
	position: relative;
}

#profile_information .achiev_table .img{
	width: 60px;
	height: 60px;
	padding: 10px;
}

#profile_information .main_achiev{
	width: 700px;
	height: 700px;
	padding-bottom: 40px;
}


#profile_information .main_achiev p {
	position: absolute;
  	padding: 10px;
  	padding-left: 100px;
  	margin-top: 480px;
  	margin-left: 520px;
  	font-size: 28px;
  	width: 2000px;
}


.main_achiev h2 {
  	position: absolute;
	margin-top: 360px;
	margin-left: 520px;
	font-size: 40px;
	width: inherit;
	text-indent: inherit;
	text-decoration: underline;
	text-align: center;
}