/* PORFILE */
#profile_information .avatar{
	margin-top: 35px;
	margin-bottom: 30px;
}

#profile_information .info{
	padding-top: 10px;
}

.info h2{
	padding-bottom: 30px;
}

#profile_information .contactCont{
	padding: 4px 0;
}

#profile_information .contactCont .social{
	padding-left: 0;
	max-width: 40px;
}

#profile_information .info .social_text{
	position: relative;
	padding-left: 5px;
	color: #333333;
}

#profile_information .info p{
	font-size: 14px;
}

#profile_information .achievements{
	margin-top: 60px 0 0 0;
	background: #455a64;
	padding-bottom: 0px;
	border-bottom: 0px;
}

#profile_information .image_banner{
	padding-top: 50px;
	padding-bottom: 30px;
}

#profile_information .voting2{
	margin-left: 15px;
}

#profile_information .rating{
	padding-top: 85px;
}

#profile_information .month{
	padding-bottom: 10px;
}

#profile_information .bio{
	padding-left: 20px;
	padding-top: 20px;
}

