.row{
	margin: 0;
	max-width: 100%;
}

/* HOMEPAGE */


#portoPhoto,
#portoPhoto img{
	margin: 0;
	padding: 0;
	max-width: 100%;
}

#portoPhoto{
	top: -180px;
}


/* ACCORDIONS */
.userPhoto{
	height: 60px !important;
	width: 60px !important;
	padding: 0;
}

ul li{
	list-style-type: none;
	padding: 5px 15px;
}

.accordion-inner,
.accordion-inner ul{
	padding: 0;
}

.accordion-heading{
	background: #455a64;
	color: #cfd8dc;
	font-size: 17px;
	padding-top: 6px;
}

.acoordion-heading>a{
	background: #78909c;
}

.accordion-heading a i{
	color: #cfd8dc !important;
	height: 20px;
	width: 20px;
	font-size: 20px;
}

#topQuestions .accordion-heading{
	margin-top: 70px;
}

.accordion-inner ul li p{
	padding-top: 10px;
}

#topUsers ul li div{
	text-align: center;
}

#topUsers ul li div p{
	padding: 0;
}

#topUsers .totalPoints{
	color: #455a64;
}

#topUsers .totalPoints h2{
	margin-top: 0;
	margin-bottom: 5px;
}

/* PORFILE */
#profile_information{
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#profile_information .container{
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#profile_information .profile_votes{
	margin-top: 70px;
}

#profile_information .profile_votes2{
	margin-bottom: 15px;
}

#profile_information .achievements{
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	background: #455a64;
}

#profile_information .image_banner{
	padding-top: 60px;
}